						<h2>What is Beheld?</h2>
						<p>
		Beheld is the ultimate online tool for Artists. Our platform allows Artist to post, sell and ship their art all over the planet. The road to becoming a professional artist is not easy which is why we are laser focused on supporting the up and coming artist. This provides a unique experience for buyers. 
	</p>
<h2>How does it work?</h2>
	<p>
		Beheld provides all the tools needed for an independent artist to be successful.
	</p>
<!-- TEAM -->
	<h1 class="page-header">The Team</h1>
		<div class="row">
<!-- BILL -->
			<div class="col-lg-3">
					<div class="thumbnail">
						<img class="about-profile-img" src="/images/bill.jpg" />
							<div class="caption">
								<h3>Bill Higginson</h3>
								<h5>Co-founder</h5>
									<p> 
										<a data-toggle="modal" href="#bill-bio" class="btn btn-primary bio-btn btn-block">Bio</a>
									</p>
							</div>
					</div>
			</div>
<!-- MODAL -->
  			<div class="modal fade" id="bill-bio">
	  				<div class="modal-dialog">
		  					<div class="modal-content">
			  						<div class="modal-header">
				  							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				  								<h4 class="modal-title">Bill Higginson's Bio</h4>
				  								<h5>Co-founder</h5>
				  					</div>
				  					<div class="modal-body">
					  					<p>Bill has been an artist all his life but a professional artist for 5 years. Bill is highly recognized in the Vancouver arts community sitting on the board of the FOCA and doing many teaching and speaking series.</p>
				  					</div>
				  					<div class="modal-footer">
					  						<button type="button" class="close btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
					  				</div>
					  		</div>
					</div>
			</div>
<!-- Colin -->
			<div class="col-lg-3">
					<div class="thumbnail">
						<img class="about-profile-img" src="/images/colin.jpg" />
							<div class="caption">
								<h3>Colin Brown</h3>
								<h5>Co-founder</h5>
									<p> 
										<a data-toggle="modal" href="#colin-bio" class="btn btn-primary bio-btn btn-block">Bio</a>
									</p>
							</div>
					</div>
			</div>
<!-- MODAL -->
  			<div class="modal fade" id="colin-bio">
	  				<div class="modal-dialog">
		  					<div class="modal-content">
			  						<div class="modal-header">
				  							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				  								<h4 class="modal-title">Colin Brown's Bio</h4>
				  								<h5>Co-founder</h5>
				  					</div>
				  					<div class="modal-body">
					  					<p> Colin is a massive nerd! He has been on the business end of technology for the 4 years working solely with startups. 
				  					</div>
				  					<div class="modal-footer">
					  						<button type="button" class="close btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
					  				</div>
					  		</div>
					</div>
			</div>
		</div>