<h2>Sign Up</h2>
<div class="row text-center">
		<div class="col-lg-4 buyer-col">
			<div class="thumbnail">
				<h3>Buyer</h3>
					<p>
						Welcome to the art world connected! Our community of artist and galleries are excited to present their work to you. Our platform allows you to discover, track and buy art from all over the world.
					</p>
						<div class="caption">
							<h5>Price: FREE FOR LIFE!</h5><br>
								<h5>What you get:</h5>
									<p>
										<h6>Access to a community of artists and galleries</h6>
										<h6>Track specific artists</h6>											
										<h6>Chose to be anonymous or known to the artist</h6>											
										<h6>Find new exciting artists</h6>
										<h6>Easily purchase art and have it delivered right to your door.</h6>
									</p>
									<br>
									<p>
										<%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-block btn-large btn-danger" %>
									</p>
						</div>
			</div>
		</div>
		<div class="col-lg-4 artist-col">
			<div class="thumbnail">
				<h3 class="text-center">Artist</h3>
					<p>
						The hardest thing about being an artist is making a living off of being an artist. Let us do the heavy lifting for you. Our platform gives you an online presence, access to a community of buyers, and we handle all the details like shipping and payment. 
					</p>
					<div class="caption">
						<div class="caption">
							<h5>Price: 20% of Art Sales</h5><br>
								<h5>What you get:</h5>
									<p>
										<h6>Access to a community of Buyers</h6>									
										<h6>Your own website to promote your work</h6>
										<h6>Easily communicate with your followers</h6>
										<h6>We handle the transaction</h6>
										<h6>We handle the shipping</h6>
										<br>
										<strong>You get to be an artist and let us worry about the business details.</strong>
									</p>
									<p>
										<%= link_to "Request Access", "#", class: "btn btn-block btn-large btn-danger" %>
									</p>
						</div>
					</div>
			</div>
	</div>
		<div class="col-lg-4 buyer-col">
			<div class="thumbnail">
				<h3>Gallery</h3>
					<p>
						Bring your gallery online.
					</p>
						<div class="caption">
							<h5>Price: $100 per month + 4% of sales</h5><br>
								<h5>What you get:</h5>
									<p>
										<h6>Access to a community of artists and galleries</h6>
										<h6>Track specific artists</h6>											
										<h6>Chose to be anonymous or known to the artist</h6>											
										<h6>Find new exciting artists</h6>
										<h6>Easily purchase art and have it delivered right to your door.</h6>
									</p>
									<br>
									<p>
										<%= link_to "Request Access", "#", class: "btn btn-block btn-large btn-danger" %>
									</p>
						</div>
			</div>
		</div>
	</div>
