<img class="banner-img" src="/images/gallery1.jpg" />
 	 <div class="banner-text">
	 	 <h1 class="banner-header"><strong>Welcome to Beheld!</strong></h1>
	 	 	<%= link_to "Sign Up", selection_path, class: "btn btn-danger btn-large" %>
	 </div>



