		<div class="container navbar-inverse footer">
				<ul class="navbar-nav pull-left">
					<strong><%= link_to "Facebook", "#", class: "social-link1" %></strong>
					<strong><%= link_to "Twitter", "#", class: "social-link" %></strong>
					<strong><%= link_to "Pinterest", "#", class: "social-link" %></strong>
					<strong><%= link_to "Legal", legal_path, class: "social-link" %></strong>
					<a href="mailto:info@beheld.me?Subject=Website%20Contact" target="_top" class="social-link"><strong>Contact</strong></a>
				</ul>
				<ul class="nav pull-right">
					<p class="copyright">&copy; 2013 All rights reserved by beheld.me</p>
				</ul>
		</div>	